*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
    padding-top: 2.5vw;
}


/* шапка */
.flex_svoystva{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_text{
    font-size: 1.6vw;
    color: #C51103;
}
.logo_silka{
    text-decoration: none;
    color: #999999;
    font-size: 0.9vw;
}
.logo_img{
    width: 1.8vw;
    margin-left: 2.4vw;
    margin-right: 0.5vw;
}
.contact{
    width: 36vw;
   align-items: center;
   display:flex;
}
.contact_item_sag{
    color:#82B2A2;
    line-height: 130%;
    font-size: 1.3vw;
    
}
.contact_item_absaz{
    color:#999999;
    line-height: 130%;
    font-size: 0.8vw;
}
.enter_button{
    border-radius: 0;
    border:1px solid #82B2A2;
    width: 9vw;
    height: 3vw;
    padding:0 1vw 0 1vw;
    background-color: #ffffff;
    font-size: 0.8vw;
}
/* первая секция */
.content_item_sag{
    font-weight: bold;
    font-size: 3vw;
    line-height: 130%;
    color: #1F1F1F;
    width: auto;
}
.numbers{
 display: block;
 color: #82B2A2;
}
.content_item_img{
    width:45vw;
}
.adaptive_text{
    display: none;
}
/* вторая секция */
.parent{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.wrapper_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first_block{
padding: 2vw;
background-color: #F2F6F6;
margin-bottom: 1.5vw;
width: 26vw;
min-width: 26vw;
}
.block_margin{
    margin-right: 2.5vw;
}
.first_block:first-child{
    margin-right:1.5vw;

}
.first_block_sag{
    font-style: normal;
font-weight: bold;
font-size: 1.25vw;
line-height: 130%;
color: #1F1F1F;
}
.first_block li{
    list-style-type: none;
    margin-top: 2vw;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 150%;
    color: #1F1F1F;
}
/* третья секция */
.first_section{
    display: flex;
    justify-content: space-around;
}
.first_section_sag{
font-style: normal;
font-weight: bold;
font-size: 2.8vw;
line-height: 130%;
color: #82B2A2;
margin-right: 0.7vw;
}
.first_section_sag_two{
font-style: normal;
font-weight: bold;
font-size: 0.9vw;
line-height: 150%;
color: #1F1F1F;
}
.first_section_block{
    width:14.6vw;
}
.map{
    margin-top: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-top: 1px solid #C0E4E4;
    border-bottom: 1px solid #C0E4E4;
}
.map_block_sag{
font-style: normal;
font-weight: bold;
font-size: 1.8vw;
line-height: 130%;
color: #1F1F1F;
}
.map_block_absaz{
width: 19vw;
font-style: normal;
font-weight: normal;
font-size: 0.9vw;
line-height: 140%;
color: #999999;
}
.map_img{
    width: 79.5vw;
    margin-top: 1.5vw;
}
/* подвал */
footer{
    margin-bottom: 3.2vw;
}
.footer-item{
 padding-top: 2.5vw;   
}
.footer-item_block_sag_first{
font-style: normal;
font-weight: bold;
font-size: 2.5vw;
line-height: 130%;
color: #C51103;
margin-right: 2vw;
}

.footer-item_block_sag_two{
    width: 15.8vw;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 140%;
    color: #1F1F1F;
}
.footer-item_block_sag_three{
font-style: normal;
font-weight: bold;
font-size: 1.1vw;
line-height: 130%;
color: #82B2A2;
}
.footer-item_block_absaz{
font-style: normal;
font-weight: normal;
font-size: 0.8vw;
line-height: 130%;
color: #999999;
}
.footer-item_img{
    width: 1.25vw;
}



/* адаптив */
@media screen and (max-width:720px) {
.container{    
    width:92vw;
}
.flex_svoystva{
    justify-content: space-between;
}
.contact{
    display: none;
}
.block_enter{
    display: none;
}
.logo{
    margin-bottom: 3vw;
    }
.logo_text{
    font-style: normal;
    font-weight: bold;
    font-size: 8vw;
    line-height: 130%;
    color: #C51103;
    margin-right: 46.5vw;
}
.logo_img{
    width:7vw;
    margin-right: 2vw;
}
.logo_silka{
    font-size: 4.5vw;
}
.first_block{
    width: 100%;
}
.content_item_sag{
    font-size: 7.2vw;
}

.content_item_img{
    display: none;
}
.adaptive_text{
display: block;
font-style: normal;
font-weight: normal;
font-size: 4vw;
line-height: 130%;
color: #1F1F1F;
margin-top: 3vw;
}
.parent{
    display: flex;
    flex-direction: column;

}
.first_block:first-child{
    margin-right: 0;
}
.first_block{
    padding: 5vw;
    margin-top: 3vw;
}

.first_block_sag{
    font-size: 5vw;
}
.first_block li{
    font-size: 3vw;
}
 .first_section{
    width: unset;
    display: flex;
    flex-direction: column;
}
.first_section_sag{
    font-size: 7vw;
    margin-right: 4vw;
}
.first_section_sag_two{
    font-size: 3vw
}
.first_section_block{
    width: 50vw;
    margin-top: 5vw;
}
.map{
    display: none
}
footer{
    display: none;
}
}